<%#= render 'form' %>
<h3>USER generator page</h3>

<%= render 'form' %>

<!-- <%#= form_for :user, url: users_path do |f| %>

  <div class="field">
    <%#= f.label :fullname %><br>
    <%#= f.text_field :fullname %>
  </div>

  <div class="field">
  	<%#= f.label :email %><br>
  	<%#= f.email_field :email %>
  </div>
  <div class="actions">
  	<%#= f.submit %>
  </div>

<%# end %> -->

