<%= render 'form' %>

<!-- <%#= form_for :post, url: posts_path do |f| %>
	<div>
		<%#= f.label :title %>:<br>
		<%#= f.text_field :title %>
	</div>
	    <%#= f.label :text %>:<br>
		<%#= f.text_field :text %>

	<div>
        <%#= f.submit %>
	</div>

<%# end %> -->